{% extends 'app/base.html' %}
{% load static %}
{% block title %}About{% endblock title %}
{% block banner-slider %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{% static 'app/images/banner/b1.jpg' %}" class="d-block w-100" alt="Banner 1">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b2.jpg' %}" class="d-block w-100" alt="Banner 2">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b3.jpg' %}" class="d-block w-100" alt="Banner 3">
    </div>
    <div class="carousel-item">
      <img src="{% static 'app/images/banner/b4.jpg' %}" class="d-block w-100" alt="Banner 4">
    </div>
  </div>
</div>
{% endblock banner-slider %}
{% block main-content %}
<div class="container mt-3">
    <br>
    <div class="row container">
        <h2 class="text-center">About </h2>
        <p class="fs-4 text-center">
          Welcome to Noura ShopCoffee, where every cup tells a story. We are passionate about crafting exceptional coffee, made from the finest beans sourced from around the world. Our cozy ambiance and friendly staff invite you to unwind, connect, and enjoy the perfect brew.

          At Nourashop, we believe that coffee is more than just a drink – it's an experience. Whether you're here for a morning pick-me-up or a relaxing afternoon break, we are committed to serving you with the highest quality beverages and freshly baked treats. Join us in celebrating the art of coffee, and let us make your day a little brighter, one cup at a time..</p>
        </div>
        <br><br>
        <h2 class="text-center">Mission</h2>
        <br>
        <div class="row container">At Noura ShopCoffee our mission is to provide a warm, welcoming space where everyone can enjoy exceptional coffee and a sense of connection. We are committed to offering high-quality, ethically sourced coffee, alongside fresh, homemade pastries and treats. Our goal is to create a space that not only serves great beverages but also fosters meaningful conversations and memories.

          We strive to contribute positively to our community by supporting local suppliers, reducing waste, and creating an environment where both individuals and families feel at home. Every cup we serve is made with care and passion, ensuring that each visit is an experience worth repeating.
          
          This is a public limited company having its registered and coperate office at Pune City of Mahahstra State in India . The company was incorporated in the year 
                2024 and productoin commenced in 2025 0.6sThis is one of the fastest growing Public Listed companies in Pune.</p>
    </div>
</div>
{% endblock main-content %}